/*user cards css*/
.userlist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center; 
    align-items: center; 
    margin-left: 30px;
}

.card {
    width: 18rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 10px;

    &:hover {
      transform: scale(1.05);
    }
  }
  .user-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .details-link {
    background-color: #1e1e1e;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  
    &:hover {
      background-color: #000000;
    }
  }

  .link{
    text-decoration: none;
    color: #fff;
    &:hover {
        color: #ffcc00; 
      }
  }

  /*navbar css*/

.navbar {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .title {
    color: white;
    font-size: 1.5rem;
    margin-right: 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    padding: 8px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #ffcc00; 
  }
  
  /* Home css */

.home-container {
    color: #1e1e1e;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
  }
  
  .home-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;

  }
  
  .home-description,
  .home-more-info {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .home-more-info a {
    color: #ffcc00; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;

  }
